body {
    background: #fff;
}
#wrap {
    padding: 0px 0 0 0px!important;
    min-height: 400px;
    margin: 55px auto 30px;
    width: 980px;
}
#wrap .container {
    width: 960px;
}
#wrap .big-search,
#datasets,
#showcase           {
    display: none;
}
.navbar-inverse {
    border: 0;
    background: url(/static/img/oq-header.png) no-repeat left top;
    background-color: #1b75a5;
}
.home .navbar-inverse {
    background: url(/static/img/oq-header.png) no-repeat left top;
    background-color: #1b75a5;
}
.jumbotron {
    width: 75%;
    float: left;
    background: #fff!important;
    color: #000!important;
    text-shadow: none!important;
    min-height: 400px;
}
.jumbotron .paragraf {
    font-size: 18px;
    width: 88%;
    float: left;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    line-height: 27px;
    color: #555;
}
.jumbotron h1 {
    color: #1b75a7;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 25px;
}
.jumbotron a {
    color: #2d7681!important;
    text-decoration: none;
}
.oq-button-home {
    width: 25%;
    float: left;
    padding: 205px 0 0 0;
}
.oq-button-home .col-md-4 {
    width: 100%;
}
.oq-button-home .col-md-4 .oq-button-home-btn {
    display: block!important;
    font-size: 20px;
    margin: 0 0 15px;
    background: #f7931e;
    border-color: #f7931e;
    font-weight: 700;
    color: #fff!important;
    width: 160px;
}
.oq-button-home .col-md-4 .oq-button-home-btn:hover,
.oq-button-home .col-md-4 .oq-button-home-btn:focus {
    background: #f05a24;
    border-color: #f05a24;
}
.btn-primary {
    background: #f7931e;
    border-color: #f7931e;
}
.btn-primary:hover,
.btn-primary:focus {
    background: #f05a24;
    border-color: #f05a24;
}
#footer {
    border-top: 0!important;
    z-index: 1000;
    background: #bebebe;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    padding: 0 10%!important;
    width: 100%;
    height: auto;
    padding-top: 0;
    left: 0;
    color: #fff;
}
#footer a {
    color: #fff;
}
#footer .col-md-2 {
    display: none;
}
#footer .col-md-6 ul {
    margin-bottom: 0;
}
#footer form {
    display: none;
}
.search {
    display: none;
}
#footer .row .col-md-6 {
    width: 33%;
}
@media (max-width: 980px) {
   #wrap,
   #wrap .container {
        width: auto!important;
   }
}
