html {
    height: 100%;
}
body {
    background: #fff;
    padding-top: 45px;
}
body.home {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(/static/img/back_platform.jpg) no-repeat center top;
    position: relative;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.home #wrap {
    margin-top: -60px;
    padding-bottom: 0;
    background: rgba(0, 0, 0, 0.85)!important;
    height: 535px;
}
.page-title {
    margin: 0;
}
.dl-horizontal dd {
    margin-bottom: 8px;
}
.alert-info {
    margin-top: -58px;
}
.alert .alert-block .announcement .alert-info {
    position: relative;
    margin-top: -75px;
}
.irv_link  {
    margin-top: 10px;
}
.irv_link a {
    color: #fff!important;
}
div.disclaimer {
    margin: 8px auto 16px auto;
    width: auto;
    text-align: left;
}
div#oq-body-content {
    width: auto!important;
    margin: auto;
}
h3 {
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0 !important;
}
select {
    width: 220px;
    border: 1px solid #ccc;
}
select, input[type="file"] {
    height: auto;
    line-height: 28px;
}
.dl-horizontal dd p {
    margin: 0;
}
.ui-icon-help {
}
div#ext-comp-1012,
div#ext-gen23,
div#ext-comp-1013,
div#ext-gen26,
div#ext-gen27,
div#ext-comp-1007,
div#ext-gen31,
div#ext-comp-1003,
div#ext-gen34,
div#ext-comp-1002,
div#ext-gen35,
div#paneltbar {
    width: 100%!important;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}
input[type="checkbox"], input[type="radio"] {
    width: auto;
    height: auto;
}
.fa-2x {
    font-size: 1.3em;
    width: 1.25em;
    text-align: center;
}
#wrap {
    padding: 0px 0 0 0px!important;
    margin: 0px auto 30px!important;
    width: 1160px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
#wrap .container {
    width: 100%;
}
textarea,
textarea#description,
textarea#functionDescription {
   width: 100%;
       height: 100px;
   }
@media (min-width: 992px)
.col-md-4 {
    width: 30%!important;
}
.home .jumbotron .container {
    padding-left: 25px;
    padding-right: 5px;
}
#wrap .big-search,
#datasets,
#showcase,
div#treeview {
    display: none;
}
li.oq-right-share,
li.oq-right-help,
li.oq-right-search {
    margin: 0!important;
}
.navbar {
    min-height: 40px;
    z-index: 10000;
}
#navbar .nav {
    height: 40px;
    margin: 8px 0 0 220px;
    padding: 0 0 0 0;
}
.navbar-inverse {
    border: 0;
    background: url(/static/geonode/img/oq-header.png) no-repeat left top;
    background-color: #1b75a5;
    height: 40px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #1b75a5;
}
ul.dropdown-menu li {
    text-align: left;
    height: auto;
    margin: 0;
}
.home .navbar-inverse {
    background-color: #1b75a5;
}
.navbar-brand {
    margin-top: -10px;
    width: 220px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-weight: 500;
    padding: 0;
}
.navbar .container {
    padding-left: 0;
    padding-right: 0;
    height: 40px;
    width: auto;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    position: absolute;
    left: 0;
    margin-left: 0px;
}
.navbar-nav li {
    margin: 0px 15px 0;
    display: block;
    position: relative;
    height: 32px;
    width: 80px;
    text-align: center;
}
.navbar-nav .avatar img {
    margin-right: 0px;
    margin-top: -20px;
    height: 38px;
    width: 38px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff!important;
    font-size: 16px;
    padding: 0!important;
    border: 0;
}
.navbar-inverse .navbar-nav>li>a:hover {
    background: none;
}
.navbar-right li {
    width: auto;
}
#nav_calculate {
    border-bottom: solid #ffdc00 5px;
}
#nav_share {
    border-bottom: solid #eb737d 5px;
}
#nav_explore {
    border-bottom: solid #dc6522 5px;
}
#nav_calculate a:hover,
#nav_share a:hover,
#nav_explore a:hover
{
    font-weight: 700!important;
}
.navbar-right .dropdown-menu {
    right: -36px;
}
span.user-contrib {
    font-size: 15px;
    font-style: italic;
}
.home .jumbotron {
   padding: 0 30px;
   background: none!important;
   min-height: 535px;
   width: 77%;
}
.jumbotron {
    width: 75%;
    float: left;
    background: #fff!important;
    color: #000!important;
    text-shadow: none!important;
    min-height: 400px;
    margin-top: 0px;
    padding: 10px 0 60px;
}
.jumbotron .paragraf {
    font-size: 18px;
    float: left;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    line-height: 27px;
    color: #000;
}
.jumbotron h1 {
    color: #1b75a7;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 25px;
}
.jumbotron a {
    color: #2c689c!important;
    text-decoration: none;
}
.jumbotron a:hover {
    text-decoration: underline;
}
.home .oq-button-home {
    width: 229px;
    float: left;
    padding: 34px 0 0 0;
    text-align: center;
    height: 550px;
}
.home .jumbotron h1,
.home .jumbotron .paragraf {
    color: #fff;
}
.home .jumbotron .paragraf a {
    color: #ff8f31!important;
}
.oq-right-user-separated {
    margin: 10px 0 0!important;
    color: #ffffff;
}
.oq-right-user-signin a,
.oq-right-user-signup a {
    width: 55px;
    margin: 10px 0px 0;
}
.oq-menu {
    position: absolute;
    width: 100%;
    top: 40px;
    right: 0;
}
#oq-menu-right {
    margin: 0px 80px 0 0!important;
}
.oq-right-user a {
    margin: 10px 15px 0;
}
.oq-right-help, .oq-right-share, .oq-right-search {
    width: 5px;
    margin-top: 0!important;
}
.oq-button-home {
    width: 229px;
    float: left;
    padding: 95px 0 0 0;
    text-align: center;
}
.oq-button-home .col-md-4 {
    width: 100%;
}
.oq-button-home .col-md-4 .oq-button-home-btn {
    display: block!important;
    font-size: 18px;
    margin: 0 0 15px;
    background: #f7931e;
    border-color: #f7931e;
    font-weight: normal;
    color: #fff!important;
    width: 195px;
    text-align: left;
}
.fa {
    padding: 0 2px;
}
.oq-button-home .col-md-4 .oq-button-home-btn:hover,
.oq-button-home .col-md-4 .oq-button-home-btn:focus {
    background: #f05a24;
    border-color: #f05a24;
}
.oq-search {
    height: auto;
}
.oq-search .col-md-3 {
    position: fixed;
    right: 90px;
    width: auto;
    z-index: 1;
}
div#search-inp:after {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
    top: -7px;
    right: 50px;
}
.oq-align {
    float: none;
    margin: auto;
}
.oq-align-h2 {
    text-align: center;
}
.oq-align-button {
    float: right;
}
.oq-share {
    display: none;
}
.oq-share ul {
    float: right;
    margin: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 160px;
    padding: 2px 0;
}
.oq-share ul li {
    float: left;
    list-style: none;
    padding: 0;
    width: 100%;
}
.oq-share ul li a:hover,
.oq-share ul li a:focus {
    background:#2c689c;
    color:#fff!important;
}
.oq-share ul li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    width: 100%;
    padding: 4px 2px;
    position: relative;
    display: block;
}
.oq-share .col-md-3 {
    position: fixed;
    right: 0;
    width: auto;
    z-index: 999;
}
.oq-share ul:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
    top: -7px;
    right: 86px;
}
.oq-calc {
    margin-top: 20px;
}
.right-bar {
    float: right;
    width: 68px;
    height: 42px;
    position: absolute;
    right: 4px;
    top: 0px;
}
#home_ul {
    color: #fff;
    list-style-type: none;
    padding: 0 0 0 20px;
}
#home_ul li {
    font-size:14px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
}
#home_ul li a {
    font-size:20px;
    color: #fff!important;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}
#home_ul li .oq_div_one {
    width: auto;
    float: left;
    padding-right: 4px;
}
#home_ul li .oq_div_two {
    width: 90%;
    float: left;
}
#home_ul li .oq_div_two p { 
    font-size: 14px;
}
.page-header {
    margin: 22px 0;
}    
.page-header p {
    width: 800px;
    margin: auto;
}    
.hero-unit .btn {
    background: #f7931e;
    color: #fff;
    margin-bottom: 4px;
}
.hero-unit .btn:hover {
    background: #f05a24;
    color: #fff;
}
.btn-primary {
    background: #f7931e!important;
    border-color: #f7931e!important;
}
.btn-primary:hover,
.btn-primary:focus {
    background: #f05a24!important;
    border-color: #f05a24!important;
}
.btn-group-justified > .btn, .btn-group-justified > .btn-group {
    float: left;
    display: table-cell;
    width: 100%;
    margin: 0 0 14px 0;
}
.input-group .yourlabs-autocomplete {
    margin-top: 6px;
}
.navbar-nav .dropdown-menu {
    border-top: 1px solid #ccc;
    background-color: #fff;
    margin-top: 15px!important;
}
.navbar-nav>li>.dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
    top: -7px;
    right: 50px;
}
#oq-body-heading {
    height: 24px;
    text-align: center;
}
#oq-body-heading h1 {
    color: #1b75a7;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Lato',sans-serif;
    margin: 0;
}
.dropdown-menu {
   border: 1px solid #ccc;
   border-top-right-radius: 5px!important;
   border-top-left-radius: 5px!important;
   border-bottom-right-radius: 5px!important;
   border-bottom-left-radius: 5px!important;
   box-shadow: none;
   -webkit-box-shadow: none;
}
.navbar-nav .dropdown-menu li a:hover {
    color: #fff;
}
.navbar-nav .dropdown-menu li a:hover,
.navbar-nav .dropdown-menu li a:focus {
    background-color: #2c689c;
}
.navbar-nav .dropdown-menu li a {
    padding: 3px 2px;
}
.navbar-nav .dropdown-menu a {
    color: #000;
    font-size: 13px;
    margin: 0;
}
#permission_form .select2-container {
    width: 225px;
}
nav.filter h4 {
    background: gba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: capitalize;
}
div.filters {
    padding: 0!important;
}    
#footer {
    border-top: 0!important;
    z-index: 1000;
    background: #1b75a5 url(/static/geonode/img/oq-header.png) no-repeat left top;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    padding: 2px 0 2px 10%!important;
    width: 100%!important;
    height: auto;
    padding-top: 0;
    left: 0;
    color: #fff;
}
#footer a {
    color: #fff;
}
#footer .col-md-2 {
    display: none;
}
#footer .col-md-6 ul {
    margin-bottom: 0;
}
#footer form {
    display: none;
}
#footer .col-md-6.text-right {
    padding-top: 5px;
    width: 33%;
}
.search {
    display: block;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #1b75a5;
}
.social li {
    margin: 5px 10px;
}
.item-thumb img {
    border: 1px solid #eeeeee;
}
.profile-avatar {
    padding: 0;
    border-top: 1px solid #ccc!important;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    margin: 5px;
}
.oq-button-irv {
    color: #ffffff;
    background: #f05a24;
    border-color: #f05a24;
}
.oq-button-irv:hover,
.oq-button-irv:focus {
    color: #ffffff;
    background: #cc3d20;
    border-color: #f7931e;
}

#oq-context-ribbon {
    display: none;
}

#oq-body-wrapper {
    margin-left: 30px;
    margin-right: 30px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.ui-widget-header {                                                                                                                      
    border: 0!important;
}
.dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0!important;
    margin-left: 0!important;
    background: #f7931e!important;
    border: 1px solid #f7931e!important;
    color: #fff!important;
    border-radius: 4px;
    cursor: pointer;
}                        
#oq-body-heading {
    height: 24px;
    text-align: center;
}
#oq-body-heading h1 {
    color: #1b75a7;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Lato',sans-serif;
    margin: 0;
    /*display: none!important;*/
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #f05a24!important;
    border: 1px solid #f05a24!important;
    color: #fff!important;
}
.leaflet-control-coordinates .uiElement .labelFirst {
    color: #000;
}
.map_warning {
    text-align: left;
    padding: 2px 0;
    background-color: yellow;
    height: 28px;
    font-size: 14px; 
}
button#toggleCompIndWidgetBtn,
button#toggleSviThemeWidgetBtn,
button#loadProjectdialogBtn,
button#toggleIriChartWidgetBtn,
button#toggleProjDefWidgetBtn {
    background: #f7931e;
    color: #fff;
}
button#toggleCompIndWidgetBtn:hover, 
button#toggleSviThemeWidgetBtn:hover,
button#loadProjectdialogBtn:hover,
button#toggleIriChartWidgetBtn:hover,
button#toggleProjDefWidgetBtn:hover {
    background: #f05a24;
}
.accept_terms {
    padding: 0;
}
.accept_terms input {
    width: 100px;
}
img#legend_icon {
    max-width: 100%;
}
.col-xs-8.item-details {
    background: none;
}
.col-xs-12.profile-avatar:hover,
.col-xs-12.profile-avatar:focus {
    background: #f5f5f5;
}
.item-container {
    padding: 0;
}
.modal-dialog {
    width: 500px;
    margin: 60px auto;
}
.modal-dialog {
    /*width: 500px;*/
    margin: 60px auto;
}
.form-signin {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}     
form.user-settings {
    margin: 130px 250px 0;
}
.modal-dialog {
    /*width: 500px;*/
    margin: 60px auto;
}
.form-signin {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}        
#side-left-input-group .yourlabs-autocomplete {                                                                                                                                                          
    display: none!important;
}
h4, .h4 {
   font-size: 18px;
}

/* mobile */
@media (min-width: 980px) and (max-width: 1340px) {
    .home #wrap {
        margin-top: 16px!important;
    }
}
@media (min-width: 1341px) and (max-width: 4000px) {
    .home #wrap {
        margin-top: 60px!important;
    }
}
@media (max-width: 1200px) {
   #wrap,
   #wrap .container {
        width: auto;
   }
   #footer .container {
       width: 100%!important;
   }
   #home_ul li .oq_div_two p {
       display: none;
   }
}
@media (max-width: 379px) {
    .home #wrap {
        height: 700px;
    }
}
@media (min-width: 380px) (max-width: 640px) {
    .home #wrap {
        height: 620px;
    }
    .list-unstyled {
        text-align: center!important;
    }
    #footer {
        padding: 2px 0 2px 2%!important;
    }
}        
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        display:none!important;
    }
}
@media (max-width: 991px) {
   .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
       max-height: unset;
   }
   .oq-right-help,
   .oq-right-search,
   .oq-right-share {
       display: none!important;
   }
   ul#dropdown-menu {
       width: 100%;
       margin: 20px auto 0px!important;
       text-align: center;
       right: 0;
       background-color: #fff;
   }
   ul.dropdown-menu li,
   ul.dropdown-menu li a {
       text-align:center;
       padding: 4px 0!important;
       color: #000!important;
   }
   .navbar-toggle {
        margin-right: 90px;
        padding: 0px 10px;
   }
   .navbar-collapse.collapse.in {
        display: block !important;
        background: #1b75a5;
        border: 0;
   }
   #oq-menu-right {
        width: 100%;
   }
   #navbar .nav {
       padding: 0 0 0 0;
       width: 100%;
       text-align: center;
       margin: 0;
       height: auto;
   }
   .navbar-nav li {
       margin: 10px 0;
       display: block;
       position: relative;
       height: auto;
       width: 100%;
       text-align: center;
   }
   .navbar-toggle {
       margin-bottom: 2px;
   }
   .navbar-header button {
       border: 0;
       margin-top: 11px;
   }
}
@media (max-width: 800px) {
   .navbar-inverse .navbar-nav>li>a {
       margin: auto;
   } 
   .page-header p {
        width: 550px;
        margin: auto;
   }
   .jumbotron {
        width: 100%!important;
        float: none;
   }
   .oq-button-home {
        width: 100%;
        float: none;
        padding: 0px;
   }
   .oq-button-home .col-md-4 .oq-button-home-btn {
       width: auto;
   }
   .navbar-form {
       width: 100%;
   }
   #footer .row .col-md-6 {
       width: 85%;
   }
}
@media (max-width: 900px) {
   .oq-button-home .col-md-4 .oq-button-home-btn {
       width: auto;
       text-align: center;
   }
   .home .oq-button-home {
       width: 100%;
   }
}
@media (max-width: 1024px) {
   body.home {
       background: none;
   }
   .list-unstyled {
       text-align: center!important;
   }
   #footer {
       padding: 2px 30px 2px 87px!important
   }
}
@media (min-width: 801px) and (max-width: 1020px) {
   #footer .col-md-6.text-right {
       width: 56%!important;
   }
}
@media (min-width: 1021px) and (max-width: 1480px) {
   #footer .col-md-6.text-right {
       width: 46%!important;
   }
}
