<meta property="og:title" content="{{ resource.title }}" />
<meta property="og:site_name" content="{{ SITE_NAME }}" />
<meta property="og:url" content="http://{{ SITE_DOMAIN }}{{ resource.detail_url }}" />
<meta property="og:description" content="{{ resource.class_name }} on {{ SITE_NAME }} by {{ resource.owner.get_full_name | default:resource.owner.username }}" />
<meta property="og:image" content="{{ STATIC_URL }}img/oq-logo.png" />
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="150" />
