<div class="oq-button-home">
      <div class="col-md-4">
        <p><a class="oq-button-home-btn btn" href="{% url "account_login" %}?next=/maps/" role="button">Maps</a></p>
      </div>
      <div class="col-md-4">
        <p><a class="oq-button-home-btn btn" href="{% url "account_login" %}?next={{ request.path }}/layers/" role="button">Layers</a></p>
      </div>
      <div class="col-md-4">
        <p><a class="oq-button-home-btn btn" href="{% url "account_login" %}?next={{ request.path }}/documents/" role="button">Documents</a></p>
      </div>
      <img class="oq-calc" src="{{ STATIC_URL }}img/OQ-logo-blue.png" alt="OpenQuake: calculate, share, explore">
</div>
