<div class="oq-button-home">
      <div class="col-md-4">
          <p><a class="oq-button-home-btn btn" href="{% url "account_login" %}?next=/maps/" role="button"><i class="fa fa-map-marker"></i> Maps</a></p>
      </div>
      <div class="col-md-4">
          <p><a class="oq-button-home-btn btn" href="{% url "account_login" %}?next=/layers/" role="button"><i class="fa fa-square-o rotate-45"></i> Layers</a></p>
      </div>
      <div class="col-md-4">
          <p><a class="oq-button-home-btn btn" href="{% url "account_login" %}?next=/documents/" role="button"><i class="fa fa-comment-o"></i> Documents</a></p>
      </div>
      <img class="oq-calc" src="{{ STATIC_URL }}geonode/img/OQ-logo-blue.png" alt="OpenQuake: calculate, share, explore">
</div>
