{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} Share - {{ block.super }}{% endblock title %}

{% block middle %}
  {{ block.super }}
  {% block hero %}
<style>
body {                                                                                                                                                                                 
    padding-top: 10px;
}   
</style>
  
<div class="menu_page jumbotron">
        <div class="container">
          <h1>{% trans "OpenQuake Share" %}</h1>
          <p></p>
          <div class="paragraf">

            <!-- Main page content goes here -->

            The OpenQuake Platform includes a number of tools allowing users to contribute to the existing datasets.
            <br/><br/>

            <b>Online Data Capture and data Collection</b>
            <ul>
              <li>
                  <a class="static-link" href="{% url 'vulnerability:list' %}">The Physical Vulnerability suite</a> allows users to explore and contribute to a comprehensive global vulnerability database that includes fragility, vulnerability, damage-to-loss functions and capacity curves for different types of structure.
              </li>
              <li>
                <a class="static-link" href="{% url 'building_class:home' %}">The Building Classification Survey tool</a> allows users to share information regarding the building stock of a given region.
              </li>
            </ul>
            <b>Offline Inventory Capture Tools</b>
            <br/>
            The following tools were developed as part of the <a class="static-link" target="_blank" href="https://www.globalquakemodel.org/tools-products">Inventory Data Capture Tools</a> global component:
            <ul>
              <li>
                A Building Data Capture application for Android phone or tablet is available for installation via <a class="static-link" target="_blank" href="https://play.google.com/store/apps/details?id=org.globalquakemodel.org.idctdo">Google Play</a>.
              </li>
            </ul>

            <b>GEM Building Taxonomy Tools</b>
            <br/>
            <a class="static-link" target="_blank" href="https://www.globalquakemodel.org/tools-products">The GEM Building Taxonomy</a> is used in a number of GEM databases to classify building types.
            <ul>
              <li><a class="static-link" href="/taxtweb">TaxTweb</a> Graphical tool for editing GEM Taxonomy strings, web version</li>
            </ul>

            <b>Upload:</b>
            <br/>
            The OpenQuake platform also allows users to upload arbitrary documents and GIS map layers:
            <ul>
              <li><a class="static-link" href="{% url "document_upload" %}">Documents</a></li>
              <li><a class="static-link" href="{% url "layer_upload" %}">Layers</a></li>
            </ul>
</div>

</div>
</div>
{% include 'includes/sidebar.html' %}
{% endblock %}
{% endblock %}

