{% load i18n %}
{% block extra_head %}
<link href="{{ STATIC_URL }}geonode/css/social_twitter.css" rel="stylesheet" />
{% endblock %}

{% block social_links %}
        <article class="tab-pane" id="share">
        <!-- TODO: Move this to a reusable template snippet -->
        <header>
            <h3>{% trans "Share This" %} {% trans resource.class_name %} </h3>
        </header>
        <div>
              <ul class="social">
                  <li>
                      <i class="fa fa-facebook" aria-hidden="true"></i> <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://{{ request.get_host }}{{ request.get_full_path }}">Share on Facebook</a>
                  </li>
                  <li>
                      <i class="fa fa-twitter" aria-hidden="true"></i> <a target="_blank" href="https://twitter.com/share?text={{ resource.title }}&amp;url=http://{{ request.get_host }}{{ request.get_full_path }}">Share on Twitter</a>
                  </li>
                  <li>i
                      <i class="fa fa-linkedin" aria-hidden="true"></i> <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;title={{ resource.title }}&amp;url=http://{{ request.get_host }}{{ request.get_full_path }}">Share on Linkedin</a>
                  </li>
              </ul>
         </div>
        <!-- TODO: Add more sharing options -->
    </article>
{% endblock %}

