/* oq-style */

body {
    background: #fff;
}
#wrap {
    padding: 0px 0 0 0px!important;
    width: 980px;
    min-height: 400px;
    margin: 55px auto 30px;
}
#wrap .container {
    width: 960px;
}
.footer {
    border-top: 0!important;
    z-index: 1000;
    background: #bebebe;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    padding: 0 10%!important;
    width: 100%;
    height: auto;
    padding-top: 0;
    left: 0;
    color: #fff;
}
.footer a {
    color: #fff;
}
.footer .col-md-4 {
    display: none;
}
.jumbotron {
    width: 75%;
    float: left;
    background: #fff;
    padding: 0 35px;
    color: #000!important;
    text-shadow: none!important;
    min-height: 400px;
}
.jumbotron p {
    font-size: 18px;
        line-height: 30px;
}
.jumbotron h1 {
    color: #1b75a7;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 25px;
}
.jumbotron a {
    color: #2d7681!important;
    text-decoration: none;
}
.home-facets {
    width: 25%;
    float: left;
    padding: 6em 0 0;
}
.home-facets .col-md-4 {
    width: 100%;
}
.home-facets .col-md-4 .btn-default {
    display: block!important;
    width: 195px;
}
.oq-calc {
    margin-top: 20px;
}
.btn-primary {
        background: #f7931e;
    border-color: #f7931e;
}
.btn-primary:hover {
        background: #f05a24;
    border-color: #f05a24;
}
.btn-default {
    margin: 0 0 15px;
    background: #f7931e;
    border-color: #f7931e;
    color: #fff!important;
}
.btn-default-home:hover,
.btn-default:hover {
    background: #f05a24;
    border-color: #f05a24;
}
.btn-default-home {
    font-size: 20px;
    margin: 0 0 15px;
    width: 160px;
    background: #f7931e;
    border-color: #f7931e;
    font-weight: 700;
    color: #fff!important;
}
.navbar {
    min-height: 40px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    position: absolute;
    left: 0;
}
.navbar-brand {
    width: 300px;
    margin-top: 0px!important;
}
#navbar .nav {
    height: 40px;
    margin: 0px 0 0 220px;
    padding: 0 0 0 0;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff!important;
    font-size: 18px;
    padding:0!important;
        border: 0;
}
.navbar-nav li {
    margin: 8px 15px 0;
    display: block;
    position: relative;
    height: 32px;
    width: 80px;
    text-align: center;
}
.navbar-right li {
    width: auto;
}
.navbar-inverse .navbar-nav>li>a:hover {
    font-weight: bold;
}
#nav_calculate {
    border-bottom: solid #ffdc00 5px;
}
#nav_share {
    border-bottom: solid #eb737d 5px;
}
#nav_explore {
    border-bottom: solid #dc6522 5px;
}
#paneltbar {
    margin-top: 40px!important;
}
.right-bar {
    float: right;
    width: 68px;
    height: 42px;
    position: absolute;
    right: 4px;
    top: 0px;
}
.navbar .container {
    width: auto;
    height: 40px;
        background: url(../img/oq-header.png) 0 0 no-repeat;
    background-color: #1b75a5;
}
.navbar-fixed-top {
    border-width: 0;
}
.oq-menu {
    position: absolute;
    width: 100%;
        top: 40px;
    right: 0;
}
.oq-share {
    display:none;
}
.oq-share ul {
        float: right;
    margin-right: 0px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 185px;
    height: 78px;
    padding: 0 10px;
}
.oq-share ul li {
        float: left;
    list-style: none;
    padding: 0 2px;
}
.oq-share ul li a {
        text-decoration: none;
        color: #000;
}
.oq-share ul li a:hover {
        text-decoration: none;
        color: #f7931e;
}
.oq-right-user-signin {
    width: 55px!important;
}
.oq-right-help,
.oq-right-share,
.oq-right-search {
    width: 10px!important;
    margin-top: 0!important;
}
.oq-search {
        height: auto;
}
.oq-search .col-md-3 {
    position: absolute;
    right: 100px;
}
.oq-share .col-md-3 {
    position: absolute;
    right: 0;
    /*width: auto;*/
}
.oq-search #close-search {
        color: #bebebe;
    font-weight: 700;
    cursor: pointer;
    display: none;
    width: 20px;
    padding: 4px;
    float: left;
}
#oq-menu-right {
    height: 40px;
    margin: 0px 70px 0 0!important;
    padding: 0 0 0 0;
}
.page-header .btn-primary {
    background: #f05a24;
        border-color: #f05a24;
        font-size: 20px;
    margin: 0 0 15px;
}
.page-header .btn-primary:hover {
    background: #ea4a10;
}
div#search-inp:after {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
    top: -7px;
    right: 50px;
}
.oq-share ul:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
    top: -7px;
    right: 85px;
}
.btn-danger {
    font-size: 20px!important;
    margin: 0 0 -5px!important;
    font-weight: 700;
}
a#perms_submit {
    margin: 0 0 15px!important;
    font-weight: 700;
    font-size: 20px;
}

/* responsive */
@media (max-width: 768px) {
.jumbotron {
    float: none;
    min-height: 200px;
    width: 70%;
    padding: 0 10px;
}
.home-facets {
    width: 100%;
    float: none;
    padding: 0;
text-align: center;
}
}
@media (min-width: 768px) {
   .navbar-nav>li>a {
       padding: 10px 0!important;
   }
}
@media (max-width: 980px) {
   .right-bar {
           display: none;
        }
        .navbar .container {
       width: auto;
        }
        .navbar .container {
                height: 50px;
    }
        #navbar .nav {
                margin: 0 auto!important;
                float: right!important;
        }
        .navbar-nav li {
                text-align: left;
                margin: 15px;
        }
        .oq-right-search,
        .oq-right-share,
        .oq-right-help {
                display: none!important;
        }
        li.oq-right-user {
                position: absolute;
                left: 10px;
        }
}
@media (max-width: 991px) {
        .navbar-collapse.collapse.in {
                display: block !important;
                background: #000!important;
                height: 170px!important;
        }
}
